button {
    margin-left: 200px;
    margin-right: 200px;
    height : 60px;
    text-align: center;
    background-color: #ed6d47;
    text-decoration: bold;
    color: white;
    line-height : 60px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}